In [10]:
import sys
sys.path.append('../../')
import pandas as pd

### temp

In [6]:
df = pd.read_csv('list.csv')

df = df.dropna(subset=['kor_price'])

df = df[['product_id','shop_product_name','kor_price']]

In [7]:
lst = df['shop_product_name'].str.split('-').to_list()

lst = [ i[2:-1] for i in lst]

lst_str = [ ' '.join(i) for i in lst]

df['shop_product_name'] = lst_str

In [8]:
x = df['kor_price'].str.replace('₩','')
x = x.str.replace(',','')
x = x.astype(int)

df['kor_price'] = x

In [9]:
df['brand'] = 'adidas originals'

In [10]:
from random import randint
size = list(range(220,305,5))
size = list(map(str,size))

In [11]:
total_rand_size = []
for _ in range(31):
    total = randint(1, len(size)-1)
    rand_size = []
    for _ in range(0,total) :
        i = randint(0, len(size)-1) 
        rand_size.append(size[i])

    total_rand_size.append(rand_size)

In [12]:
total_rand_size = [str(i) for i in total_rand_size]

In [13]:
df['size'] = total_rand_size

In [14]:
x = [randint(0,1) for i in range(31)]
x = list(map(bool,x))  
df['intl'] = x
df['shipping_fee'] = [19000 if i else 3000 for i in x]

df

,product_id,shop_product_name,kor_price,brand,size,intl,shipping_fee
0,B75806,samba og cloud white core black core granite,161000,adidas originals,"['250', '260', '250', '240', '285']",True,19000
1,B75807,samba og core black cloud white gum 5,161000,adidas originals,"['220', '285', '250', '225', '220', '280', '25...",False,3000
2,GW3159,samba adv core black cloud white gold metallic,161000,adidas originals,"['260', '245', '300', '300', '260', '265', '25...",False,3000
3,GZ8477,samba adv footwear white core black gum 5,161000,adidas originals,['240'],False,3000
4,DB3021,handball spezial core black cloud white gum 5,142000,adidas originals,"['295', '235', '290', '235', '270', '255', '250']",False,3000
5,ID2056,samba og night navy cream white gum 5,163000,adidas originals,"['260', '240', '220', '260', '240', '255', '26...",False,3000
6,IE7013,samba og aluminium chalk white wonder beige,163000,adidas originals,"['260', '225', '240', '240', '285', '270', '26...",False,3000
7,BD7633,handball spezial collegiate navy clear sky gum 5,147000,adidas originals,"['280', '255', '285', '225', '245', '230']",True,19000
8,IG9980,gazelle indoor shadow maroon semi lucid blue s...,135000,adidas originals,['300'],False,3000
9,FV1227,handball spezial scarlet footwear white gum 5,156000,adidas originals,"['270', '275', '275', '235', '290', '250', '23...",False,3000
10,IF6564,handball spezial light blue wonder clay footwe...,154000,adidas originals,"['265', '300', '280', '275', '225']",True,19000
11,H06271,gazelle indoor collegiate navy collegiate navy...,149000,adidas originals,"['270', '245', '285', '235', '270', '235', '22...",True,19000
12,H06269,gazelle indoor mesa mesa mesa,149000,adidas originals,"['285', '240', '230', '275', '260', '255', '26...",True,19000
13,GY7370,gazelle bronze strata pantone gum,147000,adidas originals,"['230', '235', '260', '250', '225', '245', '24...",False,3000
14,ID2109,state series ma massachusetts halo blue core f...,163000,adidas originals,"['255', '270', '280', '265', '230', '270', '24...",True,19000
15,ID2055,samba og core white halo blue gum 5,163000,adidas originals,"['220', '285', '300']",True,19000
16,IG5003,gazelle 85 clear sky footwear white gold metallic,147000,adidas originals,"['275', '235', '240', '275', '275', '270', '29...",False,3000
17,IG9653,gazelle bold super pop cloud white core white,161000,adidas originals,"['230', '265', '220', '255', '235', '265', '26...",False,3000
18,IE7012,samba og shadow violet carbon cream white,163000,adidas originals,"['235', '285', '240', '255', '295', '250', '24...",False,3000
19,IE7011,samba og silver green chalk white gum,163000,adidas originals,"['285', '235', '275', '255', '295', '285', '29...",True,19000
20,GV7615,parley superstar footwear white off white whit...,113000,adidas originals,"['245', '225', '280', '285', '260', '250', '24...",False,3000
21,HP9164,nora core black footwear white gold metallic,149000,adidas originals,"['245', '275', '240', '300', '285', '235', '25...",False,3000
22,IE4230,country og matte silver bright blue footwear w...,163000,adidas originals,"['295', '290', '240', '260', '265', '275']",True,19000
23,GY7396,tobacco pantone mesa gum,147000,adidas originals,"['300', '230', '290', '280', '255', '300', '260']",False,3000
24,GX6939,tobacco gruen collegiate orange fox orange gum,112000,adidas originals,"['295', '275', '225', '265', '235', '275', '23...",True,19000
25,GX6940,tobacco gruen cream white bliss light brown,127000,adidas originals,"['300', '295', '250', '235']",True,19000
26,ID4574,bermuda bold gold almost yellow premium yellow,154000,adidas originals,"['220', '220', '290']",True,19000
27,IF0202,stan smith 80s footwear white footwear white g...,149000,adidas originals,"['280', '245', '230', '230', '265', '270', '22...",True,19000
28,FZ5597,stan smith 80s footwear white footwear white g...,149000,adidas originals,"['280', '265']",True,19000
29,GM4256,by human made windbreaker hm collegiate navy,262000,adidas originals,"['295', '290', '245', '285', '260', '240', '27...",True,19000
30,IG9979,gazelle indoor collegiate green haze sky victo...,163000,adidas originals,"['280', '270', '260']",True,19000

In [15]:
df['category'] = '신발'
df['img_type'] = 'jpg'
df['color'] = '["black"]'

In [17]:
df.to_csv('list_last.csv',index=False)

In [18]:
from time import time
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm.session import Session

def conn_engine(username: str, password: str, host: str, db_name: str, **_kwargs):
    db_url = f"mysql+pymysql://{username}:{password}@{host}:3306/{db_name}"
    return create_engine(db_url)

def connect_db(username: str, password: str, host: str, db_name: str, **_kwargs) -> Session:

    engine = conn_engine(username, password, host, db_name)
    session_local = sessionmaker(bind=engine)
    return session_local()

secret = {
        "username": "admin",
        "password": "1q2w3e4r!",
        "host": "dodomoards.ccoalf3s8d7c.ap-northeast-2.rds.amazonaws.com",
        "db_name": "captured",
    }

In [11]:
df = pd.read_csv('list_last.csv')
# df.to_sql('product_info', conn_engine(**secret), if_exists='append', index=False)

In [12]:
execute_query

,product_id,product_name,price,brand,size,intl,shipping_fee,category,img_type,color
0,B75806,samba og cloud white core black core granite,161000,adidas originals,"['250', '260', '250', '240', '285']",True,19000,신발,jpg,"[""black""]"
1,B75807,samba og core black cloud white gum 5,161000,adidas originals,"['220', '285', '250', '225', '220', '280', '25...",False,3000,신발,jpg,"[""black""]"
2,GW3159,samba adv core black cloud white gold metallic,161000,adidas originals,"['260', '245', '300', '300', '260', '265', '25...",False,3000,신발,jpg,"[""black""]"
3,GZ8477,samba adv footwear white core black gum 5,161000,adidas originals,['240'],False,3000,신발,jpg,"[""black""]"
4,DB3021,handball spezial core black cloud white gum 5,142000,adidas originals,"['295', '235', '290', '235', '270', '255', '250']",False,3000,신발,jpg,"[""black""]"
5,ID2056,samba og night navy cream white gum 5,163000,adidas originals,"['260', '240', '220', '260', '240', '255', '26...",False,3000,신발,jpg,"[""black""]"
6,IE7013,samba og aluminium chalk white wonder beige,163000,adidas originals,"['260', '225', '240', '240', '285', '270', '26...",False,3000,신발,jpg,"[""black""]"
7,BD7633,handball spezial collegiate navy clear sky gum 5,147000,adidas originals,"['280', '255', '285', '225', '245', '230']",True,19000,신발,jpg,"[""black""]"
8,IG9980,gazelle indoor shadow maroon semi lucid blue s...,135000,adidas originals,['300'],False,3000,신발,jpg,"[""black""]"
9,FV1227,handball spezial scarlet footwear white gum 5,156000,adidas originals,"['270', '275', '275', '235', '290', '250', '23...",False,3000,신발,jpg,"[""black""]"
10,IF6564,handball spezial light blue wonder clay footwe...,154000,adidas originals,"['265', '300', '280', '275', '225']",True,19000,신발,jpg,"[""black""]"
11,H06271,gazelle indoor collegiate navy collegiate navy...,149000,adidas originals,"['270', '245', '285', '235', '270', '235', '22...",True,19000,신발,jpg,"[""black""]"
12,H06269,gazelle indoor mesa mesa mesa,149000,adidas originals,"['285', '240', '230', '275', '260', '255', '26...",True,19000,신발,jpg,"[""black""]"
13,GY7370,gazelle bronze strata pantone gum,147000,adidas originals,"['230', '235', '260', '250', '225', '245', '24...",False,3000,신발,jpg,"[""black""]"
14,ID2109,state series ma massachusetts halo blue core f...,163000,adidas originals,"['255', '270', '280', '265', '230', '270', '24...",True,19000,신발,jpg,"[""black""]"
15,ID2055,samba og core white halo blue gum 5,163000,adidas originals,"['220', '285', '300']",True,19000,신발,jpg,"[""black""]"
16,IG5003,gazelle 85 clear sky footwear white gold metallic,147000,adidas originals,"['275', '235', '240', '275', '275', '270', '29...",False,3000,신발,jpg,"[""black""]"
17,IG9653,gazelle bold super pop cloud white core white,161000,adidas originals,"['230', '265', '220', '255', '235', '265', '26...",False,3000,신발,jpg,"[""black""]"
18,IE7012,samba og shadow violet carbon cream white,163000,adidas originals,"['235', '285', '240', '255', '295', '250', '24...",False,3000,신발,jpg,"[""black""]"
19,IE7011,samba og silver green chalk white gum,163000,adidas originals,"['285', '235', '275', '255', '295', '285', '29...",True,19000,신발,jpg,"[""black""]"
20,GV7615,parley superstar footwear white off white whit...,113000,adidas originals,"['245', '225', '280', '285', '260', '250', '24...",False,3000,신발,jpg,"[""black""]"
21,HP9164,nora core black footwear white gold metallic,149000,adidas originals,"['245', '275', '240', '300', '285', '235', '25...",False,3000,신발,jpg,"[""black""]"
22,IE4230,country og matte silver bright blue footwear w...,163000,adidas originals,"['295', '290', '240', '260', '265', '275']",True,19000,신발,jpg,"[""black""]"
23,GY7396,tobacco pantone mesa gum,147000,adidas originals,"['300', '230', '290', '280', '255', '300', '260']",False,3000,신발,jpg,"[""black""]"
24,GX6939,tobacco gruen collegiate orange fox orange gum,112000,adidas originals,"['295', '275', '225', '265', '235', '275', '23...",True,19000,신발,jpg,"[""black""]"
25,GX6940,tobacco gruen cream white bliss light brown,127000,adidas originals,"['300', '295', '250', '235']",True,19000,신발,jpg,"[""black""]"
26,ID4574,bermuda bold gold almost yellow premium yellow,154000,adidas originals,"['220', '220', '290']",True,19000,신발,jpg,"[""black""]"
27,IF0202,stan smith 80s footwear white footwear white g...,149000,adidas originals,"['280', '245', '230', '230', '265', '270', '22...",True,19000,신발,jpg,"[""black""]"
28,FZ5597,stan smith 80s footwear white footwear white g...,149000,adidas originals,"['280', '265']",True,19000,신발,jpg,"[""black""]"
29,GM4256,by human made windbreaker hm collegiate navy,262000,adidas originals,"['295', '290', '245', '285', '260', '240', '27...",True,19000,신발,jpg,"[""black""]"
30,IG9979,gazelle indoor collegiate green haze sky victo...,163000,adidas originals,"['280', '270', '260']",True,19000,신발,jpg,"[""black""]"